<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Admin">

	<!-- 아티스트 리스트 조회 -->
	<select id="selectArtistList" resultType="Artist">
		select artist_no,
		artist_name, artist_nation,
		artist_company, artist_type,
		artist_group,
		artist_member,
		artist_profile, artist_info1,
		artist_info2
		from artist
	</select>

	<!-- 아티스트 조회 -->
	<select id="selectArtist" parameterType="string"
		resultType="Artist">
		select artist_no, artist_name, artist_nation,
		artist_company, artist_type,
		artist_group, artist_member,
		artist_profile, artist_info1,
		artist_info2
		from artist
		where
		artist_no=#{artist_no}
	</select>

	<!-- 아티스트 검색 -->
	<select id="selectSearchArtist" parameterType="string"
		resultType="Artist">
		select artist_no, artist_name, artist_nation,
		artist_company, artist_type,
		artist_group, artist_member,
		artist_profile, artist_info1,
		artist_info2
		from artist
		where artist_name
		like '%'||#{keyword}||'%'
	</select>

	<!-- 아티스트 추가 -->
	<insert id="insertArtist" parameterType="Artist">
		insert into artist
		(artist_no, artist_name, artist_nation, artist_company, artist_type,
		artist_group, artist_member, artist_profile, artist_info1,
		artist_info2
		) values (
		(select nvl(max(artist_no),0)+1 from artist),
		#{artist_name }, #{artist_nation }, #{artist_company }, #{artist_type}
		, #{artist_group }, #{artist_member }, #{artist_profile },
		#{artist_info1 }, #{artist_info2 })
	</insert>

	<!-- 아티스트 수정 -->
	<update id="updateArtist" parameterType="Artist">
		update artist set
		artist_name=#{artist_name }, artist_nation=#{artist_nation },
		artist_company=#{artist_company },
		artist_type=#{artist_type},
		artist_group=#{artist_group }, artist_member=#{artist_member },
		artist_profile=#{artist_profile }, artist_info1=#{artist_info1 },
		artist_info2=#{artist_info2 }
		where artist_no=#{artist_no}
	</update>


	<!-- 아티스트 삭제 -->
	<delete id="deleteArtist" parameterType="string">
		delete from artist 
		where artist_no=#{artist_no}
	</delete>

	<!-- 앨범 리스트 조회 -->
	<select id="selectAlbumList" resultType="Album">
		select a_no, a_name, a_cover, a_date, a_publishing, a_agency
		,artist.artist_name
		from album album
		join artist artist using(artist_no) 
		order by a_no
	</select>
	
	<!-- 앨범 검색 -->
	<select id="selectSearchAlbumList" parameterType="string"
		resultType="Album">
		select a_no, a_name, a_cover, a_date, a_publishing, a_agency
		,artist.artist_name
		from album album
		join artist artist using(artist_no) 
		where artist.artist_name
		like '%'||#{keyword}||'%'
		or
		album.a_name
		like '%'||#{keyword}||'%'
		order by a_no
	</select>
	
	<!-- 앨범 추가 -->
	<insert id="insertAlbum" parameterType="Album">
		insert into album
		(a_no, a_name, a_cover, a_date, a_publishing,
		a_agency, a_introduce1, a_introduce2, artist_no
		) 
		values 
		(
		(select nvl(max(a_no),0)+1 from album),
		#{a_no }, #{a_name }, #{a_cover }, #{a_date}
		, #{a_publishing }, #{a_agency }, #{a_introduce1 },
		#{a_introduce2 }, #{artist_no })
	</insert>
</mapper>