<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Admin">

	<resultMap type="Sound" id="soundResultMap">
		<result column="s_no" property="s_no"/>
		<result column="a_no" property="a_no"/>
		<result column="s_name" property="s_name"/>
		<result column="s_lyrics1" property="s_lyrics1"/>
		<result column="s_lyrics2" property="s_lyrics2"/>
		<result column="s_age_yn" property="s_age_yn"/>
		<result column="s_path" property="s_path"/>
		<result column="g_no" property="g_no"/>
		<result column="cnt_like" property="cnt_like"/>
		<result column="a_cover" property="a_cover"/>
		<result column="a_name" property="a_name"/>
		<result column="g_name" property="g_name"/>
		<collection column="{a_no=a_no, s_no=s_no}" property="singers" select="soundSingerList"></collection>
	</resultMap>

	<!-- 아티스트 리스트 조회 -->
	<select id="selectArtistList" resultType="Artist">
		select artist_no,
		artist_name, artist_nation,
		artist_company, artist_type,
		artist_group,
		artist_member,
		artist_profile, artist_info1,
		artist_info2
		from artist
	</select>

	<!-- 아티스트 조회 -->
	<select id="selectArtist" parameterType="string"
		resultType="Artist">
		select artist_no, artist_name, artist_nation,
		artist_company, artist_type,
		artist_group, artist_member,
		artist_profile, artist_info1,
		artist_info2
		from artist
		where
		artist_no=#{artist_no}
	</select>

	<!-- 아티스트 검색 -->
	<select id="selectSearchArtist" parameterType="string"
		resultType="Artist">
		select artist_no, artist_name, artist_nation,
		artist_company, artist_type,
		artist_group, artist_member,
		artist_profile, artist_info1,
		artist_info2
		from artist
		where artist_name
		like '%'||#{keyword}||'%'
	</select>

	<!-- 아티스트 추가 -->
	<insert id="insertArtist" parameterType="Artist">
		insert into artist
		(artist_no, artist_name, artist_nation, artist_company, artist_type,
		artist_group, artist_member, artist_profile, artist_info1,
		artist_info2
		) values (
		(select nvl(max(artist_no),0)+1 from artist),
		#{artist_name }, #{artist_nation }, #{artist_company }, #{artist_type}
		, #{artist_group }, #{artist_member }, #{artist_profile },
		#{artist_info1 }, #{artist_info2 })
	</insert>

	<!-- 아티스트 수정 -->
	<update id="updateArtist" parameterType="Artist">
		update artist set
		artist_name=#{artist_name }, artist_nation=#{artist_nation },
		artist_company=#{artist_company },
		artist_type=#{artist_type},
		artist_group=#{artist_group }, artist_member=#{artist_member },
		artist_profile=#{artist_profile }, artist_info1=#{artist_info1 },
		artist_info2=#{artist_info2 }
		where artist_no=#{artist_no}
	</update>


	<!-- 아티스트 삭제 -->
	<delete id="deleteArtist" parameterType="string">
		delete from artist
		where
		<foreach collection="list" item="item" separator="or">
			(artist_no = #{item.artist_no})
		</foreach>
	</delete>

	<!-- 앨범 리스트 조회 -->
	<select id="selectAlbumList" resultType="Album">
		select a_no, a_name, a_cover, a_date, a_publishing, a_agency
		,artist.artist_name
		from album album
		join artist artist using(artist_no) 
		order by a_no
	</select>
	
	<!-- 앨범 검색 -->
	<select id="selectSearchAlbumList" parameterType="string"
		resultType="Album">
		select a_no, a_name, a_cover, a_date, a_publishing, a_agency
		,artist.artist_name
		from album album
		join artist artist using(artist_no) 
		where artist.artist_name
		like '%'||#{keyword}||'%'
		or
		album.a_name
		like '%'||#{keyword}||'%'
		order by a_no
	</select>
	
	<!-- 앨범 추가 -->
	<insert id="insertAlbum" parameterType="Album">
		insert into album
		(a_no, a_name, a_cover, a_date, a_publishing,
		a_agency, a_introduce1, a_introduce2, artist_no
		) 
		values 
		(
		(select nvl(max(a_no),0)+1 from album)
		,#{a_name }, #{a_cover }, #{a_date}
		, #{a_publishing }, #{a_agency }, #{a_introduce1 },
		#{a_introduce2 }, #{artist_no })
	</insert>
	
	<!-- 앨범 조회 -->
	<select id="selectAlbum" resultType="Album">
		select a_no, a_name, a_cover, a_date, a_publishing,
		a_agency, a_introduce1, a_introduce2, artist.artist_no, artist.artist_name
		from album album
		join artist artist on album.artist_no = artist.artist_no
		where
		a_no=#{a_no}
	</select>
	
	<!-- 앨범 수정 -->
	<update id="updateAlbum" parameterType="Album">
		update album set
		a_name=#{a_name }, a_cover=#{a_cover }, a_date=#{a_date }
		,a_publishing=#{a_publishing}, a_agency=#{a_agency }
		, a_introduce1=#{a_introduce1 } , a_introduce2=#{a_introduce2 }
		, artist_no=#{artist_no }
		where a_no=#{a_no}
	</update>
	
	<!-- 앨범 삭제 -->
	<delete id="deleteAlbum" parameterType="list">
		delete from album
		where
		<foreach collection="list" item="item" separator="or">
			(a_no = #{item.a_no})
		</foreach>
	</delete>
	
	<!-- 곡 목록 조회 --><!-- TODO 페이징 -->
	<select id="selectSoundList" resultMap="soundResultMap">
		<!-- select sound.s_no, sound.a_no, sound.s_name, 
		sound.s_lyrics1, sound.s_lyrics2, sound.s_age_yn, sound.s_path, album.artist_no, album.a_name, album.a_cover
		from sound sound
		join album album on sound.a_no=album.a_no  -->
		select t2.* from (select rownum rnum, t1.* from (select sound.s_no, sound.a_no, sound.s_name, 
		sound.s_lyrics1, sound.s_lyrics2, sound.s_age_yn, sound.s_path, album.artist_no, album.a_name, album.a_cover
		from sound sound
		join album album on sound.a_no=album.a_no)t1)t2
		<![CDATA[
        where rnum < 21
        ]]>
	</select>
	
	<!-- 곡 - 가수 -->
	<select id="soundSingerList" parameterType="map" resultType="Singer">
		select artist.artist_name, artist.artist_no
		from sound sound
		join singer singer on sound.s_no=singer.s_no and sound.a_no=singer.a_no
		join artist artist on singer.artist_no = artist.artist_no 
		where sound.a_no=#{a_no} and sound.s_no=#{s_no}
	</select>
	
	<!-- 곡 - 작사가 -->
	<!-- <select id="soundWriterList" parameterType="map" resultType="Writer">
		select artist.artist_name, artist.artist_no
		from sound_writer writer 
		join artist artist on writer.artist_no = artist.artist_no
		where writer.a_no=#{a_no} and writer.s_no=#{s_no} 
	</select> -->
	
	<!-- 곡 - 작곡가 -->
	<!-- <select id="soundComposerList" parameterType="map" resultType="Composer">
		select artist.artist_name, artist.artist_no
		from sound_composer composer 
		join artist artist on composer.artist_no = artist.artist_no
		where composer.a_no=#{a_no} and composer.s_no=#{s_no}
	</select> -->
	
	<!-- 곡 검색 -->
	<select id="selectSearchSoundList" parameterType="string"
		resultType="Sound">
		select sound.a_no, album.a_name, album.a_cover
		, sound.s_no, sound.s_name, artist.artist_name
		from album album
		join sound sound on album.a_no = sound.a_no
		join singer singer singer.a_no = sound.a_no and sound.s_no = sound.s_no
		join artist artist on singer.artist_no = artist.artist_no
		where artist.artist_name
		like '%'||#{keyword}||'%'
		or
		sound.s_name
		like '%'||#{keyword}||'%'
		order by a_no
	</select>
</mapper>