<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Artist">

<select id="selectArtistRandom" resultType="Artist">
<![CDATA[
select artist_profile from( 
    select artist_profile from artist
    where artist_profile is not null
    order by DBMS_RANDOM.RANDOM 
) where rownum <= 5
]]> 
</select>


</mapper>