<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Chart">

	<resultMap type="Sound" id="soundResultMap">
		<result column="s_no" property="s_no" />
		<result column="a_no" property="a_no" />
		<result column="s_name" property="s_name" />
		<result column="s_age_yn" property="s_age_yn" />
		<result column="s_path" property="s_path" />
		<result column="g_no" property="g_no" />
		<result column="cnt_like" property="cnt_like" />
		<result column="a_cover" property="a_cover" />
		<result column="a_name" property="a_name" />
		<result column="g_name" property="g_name" />
		<result column="chart" property="chart" />
		<collection column="{a_no=a_no, s_no=s_no}"
			property="singers" select="soundSingerList"></collection>
	</resultMap>

	<!-- 메인 페이지 chart -->
	<select id="selectChartDetail" resultType="Sound"
		resultMap="soundResultMap">
	<![CDATA[
	select t2.*
	from (
	select t1.*
	    ,rank() over (partition by s_path order by cnt desc, s_no, a_no ) chart
	from
	    (select  a_cover, s_no, a_no, s_name, s_path, a_name, count(*) cnt 
	    from sound
	    join album using(a_no)
	    join (select p_no, a_no, s_no from playinfo) using (a_no, s_no)
	    group by a_cover, s_no, a_no, s_name,a_name,s_path order by cnt) t1
	) t2
	where chart <=10
	]]>
	</select>




	<!-- 차트 메인 페이지 small chart -->
	<select id="selectMainTopten" resultType="Sound"
		resultMap="soundResultMap">
	<![CDATA[
	select t2.*
	from (
	select t1.*
	    ,rank() over (partition by s_path order by cnt desc, s_no, a_no ) chart
	from
	    (select  a_cover, s_no, a_no, s_name, s_path, a_name, count(*) cnt 
	    from sound
	    join album using(a_no)
	    join (select p_no, a_no, s_no from playinfo) using (a_no, s_no)
	    group by a_cover, s_no, a_no, s_name,a_name,s_path order by cnt) t1
	) t2
	where chart <=3
	]]>
	</select>


	<select id="selectMonthlyTopten" resultType="Sound"
		resultMap="soundResultMap">
	<![CDATA[
	select t2.*
	from (
	select t1.*
	    , (select artist_name from artist where artist_no = (select artist_no from singer t2 where t2.s_no=t1.s_no and t2.a_no= t1.a_no)) artist_name,
	    rank() over (partition by s_path order by cnt desc, s_no, a_no ) chart
	from
	    (select  a_cover, s_no, a_no, s_name, s_path, a_name, p_date, count(*) cnt 
	    from sound
	    join album using(a_no)
	    join (select p_no, a_no, s_no, p_date from playinfo) using (a_no, s_no)
	    where p_date <= (select last_day(sysdate) from dual) and p_date > (select add_months((select last_day(sysdate) from dual),-1) from dual)
	    group by a_cover, s_no, a_no, s_name,a_name,s_path, p_date order by cnt) t1
	
	) t2
	where chart <=3
	]]>
	</select>

	<select id="selectWeeklyTopten" resultType="Sound"
		resultMap="soundResultMap">
	<![CDATA[
	select t2.*
	from (
	select t1.*
	    , (select artist_name from artist where artist_no = (select artist_no from singer t2 where t2.s_no=t1.s_no and t2.a_no= t1.a_no)) artist_name,
	    rank() over (partition by s_path order by cnt desc, s_no, a_no ) chart
	from
	    (select  a_cover, s_no, a_no, s_name, s_path, a_name, p_date, count(*) cnt 
	    from sound
	    join album using(a_no)
	    join (select p_no, a_no, s_no, p_date from playinfo) using (a_no, s_no)
	    where p_date >= (SELECT trunc(SYSDATE, 'd') FROM dual)
	    group by a_cover, s_no, a_no, s_name,a_name,s_path, p_date order by cnt) t1
	
	) t2
	where chart <=3
	]]>
	</select>


	<select id="selectDailyTopten" resultType="Sound"
		resultMap="soundResultMap">
	<![CDATA[
	select t2.*
	from (
	select t1.*
	    , (select artist_name from artist where artist_no = (select artist_no from singer t2 where t2.s_no=t1.s_no and t2.a_no= t1.a_no)) artist_name,
	    rank() over (partition by s_path order by cnt desc, s_no, a_no ) chart
	from
	    (select  a_cover, s_no, a_no, s_name, s_path, a_name, p_date, count(*) cnt 
	    from sound
	    join album using(a_no)
	    join (select p_no, a_no, s_no, p_date from playinfo) using (a_no, s_no)
	    where p_date = sysdate
	    group by a_cover, s_no, a_no, s_name,a_name,s_path, p_date order by cnt) t1
	
	) t2
	where chart <=3
	]]>
	</select>


	<select id="selectLikeTopten" resultType="Sound"
		resultMap="soundResultMap">
	<![CDATA[
	select t2.*
	from (
	select t1.*
	    , (select artist_name from artist where artist_no = (select artist_no from singer t2 where t2.s_no=t1.s_no and t2.a_no= t1.a_no)) artist_name,
	    rank() over (partition by s_path order by cnt desc, s_no, a_no ) chart
	from
	    (select  a_cover, s_no, a_no, s_name, s_path, a_name, count(*) cnt 
	    from sound
	    join album using(a_no)
	    join (select a_no, s_no from sound_like) using (a_no, s_no)
	    group by a_cover, s_no, a_no, s_name,a_name,s_path order by cnt) t1
	
	) t2
	where chart <=3
	]]>
	</select>



	<select id="soundSingerList" parameterType="map"
		resultType="Singer">
		select artist.artist_name, artist.artist_no
		from sound sound
		join singer singer on sound.s_no=singer.s_no and
		sound.a_no=singer.a_no
		join artist artist on singer.artist_no =
		artist.artist_no
		where sound.a_no=#{a_no} and sound.s_no=#{s_no}
	</select>


</mapper>