<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Chart">

	<resultMap type="Sound" id="soundResultMap">
		<result column="s_no" property="s_no" />
		<result column="a_no" property="a_no" />
		<result column="s_name" property="s_name" />
		<result column="s_age_yn" property="s_age_yn" />
		<result column="s_path" property="s_path" />
		<result column="g_no" property="g_no" />
		<result column="cnt_like" property="cnt_like" />
		<result column="a_cover" property="a_cover" />
		<result column="a_name" property="a_name" />
		<result column="g_name" property="g_name" />
		<result column="chart" property="chart" />
		<collection column="{a_no=a_no, s_no=s_no}"
			property="singers" select="soundSingerList"></collection>
	</resultMap>


	<select id="selectChartTopTen" parameterType="hashmap"
		resultMap="soundResultMap">
		select rownum chart, t2.*
		from
		(select t1.*, s_name, s_path, a_cover,
		a_name
		from
		(select s_no, a_no, count(*) cnt
		<choose>
			<when test='chartType.equals("like")'>
				from
				(select s_no, a_no
				from sound_like
				
			</when>
			<otherwise>
				from
				(select s_no, a_no, p_date
				from playinfo
				<choose>
					<when test='chartType.equals("monthly")'>
						where p_date &lt;= (select last_day(SYSDATE) from
						dual) and p_date &gt;
						(select add_months((select last_day(SYSDATE)
						from dual),-1) from
						dual)
					</when>
					<when test='chartType.equals("weekly")'>
						where p_date &gt;= (SELECT trunc(SYSDATE, 'd') FROM
						dual)
					</when>
					<when test='chartType.equals("daily")'>
						where p_date &lt;= SYSDATE and p_date &gt; (select
						SYSDATE -1 from
						dual)
					</when>
				</choose>
			</otherwise>
		</choose>
		)
		group by s_no, a_no
		) t1
		join sound s on t1.s_no=s.s_no and
		t1.a_no=s.a_no
		join album a on t1.a_no=a.a_no
		order by cnt desc
		) t2
		where rownum &lt;= #{limit}
	</select>



	<select id="soundSingerList" parameterType="map"
		resultType="Singer">
		select artist.artist_name, artist.artist_no
		from sound sound
		join singer singer on sound.s_no=singer.s_no and
		sound.a_no=singer.a_no
		join artist artist on singer.artist_no =
		artist.artist_no
		where sound.a_no=#{a_no} and sound.s_no=#{s_no}
	</select>


</mapper>