<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Chart">

	<resultMap type="Sound" id="soundResultMap">
		<result column="s_no" property="s_no" />
		<result column="a_no" property="a_no" />
		<result column="s_name" property="s_name" />
		<result column="s_age_yn" property="s_age_yn" />
		<result column="s_path" property="s_path" />
		<result column="g_no" property="g_no" />
		<result column="cnt_like" property="cnt_like" />
		<result column="a_cover" property="a_cover" />
		<result column="a_name" property="a_name" />
		<result column="g_name" property="g_name" />
		<result column="chart" property="chart" />
		<collection column="{a_no=a_no, s_no=s_no}"
			property="singers" select="soundSingerList"></collection>
	</resultMap>


	<select id="selectChartTopTen" parameterType="hashmap"
		resultMap="soundResultMap" >
		select t2.*
		from (
		select t1.*
		    ,rank() over (partition by s_path order by cnt desc, s_no, a_no ) chart
		from
		    (select  a_cover, s_no, a_no, s_name, s_path, a_name, count(*) cnt 
		    from sound
		    join album using(a_no)
	<choose>
		<when test='chartType.equals("like")'>
			join (select a_no, s_no from sound_like) using (a_no, s_no)
			group by a_cover, s_no, a_no, s_name, a_name,s_path order by cnt) t1
		</when>
		<otherwise>
			join (select p_no, a_no, s_no, p_date from playinfo) using (a_no, s_no)
			<choose>
				<when test='chartType.equals("monthly")'>
					where p_date &lt;= (select last_day(sysdate) from dual) and p_date &gt; (select add_months((select last_day(sysdate) from dual),-1) from dual)
				</when>
				<when test='chartType.equals("weekly")'>
					where p_date &gt;= (SELECT trunc(SYSDATE, 'd') FROM dual)
				</when>
				<when test='chartType.equals("daily")'>
					where p_date = sysdate
				</when>
			</choose>
		    group by a_cover, s_no, a_no, s_name,a_name,s_path, p_date order by cnt) t1
		</otherwise>
	</choose>
		) t2
		where chart &lt;= #{limit}
	</select>
	
	

	<select id="soundSingerList" parameterType="map"
		resultType="Singer">
		select artist.artist_name, artist.artist_no
		from sound sound
		join singer singer on sound.s_no=singer.s_no and
		sound.a_no=singer.a_no
		join artist artist on singer.artist_no =
		artist.artist_no
		where sound.a_no=#{a_no} and sound.s_no=#{s_no}
	</select>


</mapper>