<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Member">
	<insert id="insertMember" parameterType="Member">
		INSERT INTO member
		VALUES
		(#{m_id}, #{m_platform}, #{m_platform_id}, #{m_password}, #{m_name}, 
		#{m_nickname}, #{m_phone}, #{m_address}, #{m_address_detail}, default, 
		#{m_birth}, #{m_gender}, #{m_profile}, default, #{m_email}, 
		default, default, default, default)
	</insert>
	<select id="loginCheck" parameterType="Member" resultType="Member">
		SELECT *
		FROM member
		WHERE m_id = #{m_id} AND m_password = #{m_password}
	</select>
	<select id="selectLoginMember" parameterType="string" resultType="Member">
		SELECT *
		FROM member
		WHERE m_id = #{m_id}
	</select>
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT count(*)
		FROM member
		WHERE m_id = #{m_id}
	</select>
	<select id="selectPassword" parameterType="string" resultType="string">
		SELECT m_password
		FROM member
		WHERE m_id = #{m_id}
	</select>
	<select id="passwordCheck" parameterType="hashmap" resultType="_int">
		SELECT count(*)
		FROM member
		WHERE = m_id = #{m_id} AND m_password = #{m_password}
	</select>
	<select id="nicknameCheck" parameterType="string" resultType="_int">
		SELECT count(*)
		FROM member
		WHERE m_nickname = #{m_nickname}
	</select>
	<select id="emailCheck" parameterType="string" resultType="_int">
		SELECT count(*)
		FROM member
		WHERE m_email = #{m_email}
	</select>
	<select id="phoneCheck" parameterType="_int" resultType="_int">
		SELECT count(*)
		FROM member
		WHERE m_phone = #{m_phone}
	</select>
	<select id="findId" parameterType="Member" resultType="Member">
		SELECT *
		FROM member
		WHERE m_name = #{m_name} AND m_birth = #{m_birth} AND m_email = #{m_email} AND m_phone = #{m_phone}
	</select>
	<select id="findPw" parameterType="Member" resultType="Member">
		SELECT *
		FROM member
		WHERE m_id = #{m_id} AND m_birth = #{m_birth} AND m_email = #{m_email} AND m_phone = #{m_phone}
	</select>
	<update id="findPwA" parameterType="Member">
		UPDATE member
		SET m_password = #{m_password}
		WHERE m_id = #{m_id}
	</update>
	<select id="listMember" resultType="Member">
		SELECT *
		FROM member
		WHERE m_grade = 'ROLE_MEMBER'
	</select>
	<select id="listAdmin" resultType="Member">
		SELECT *
		FROM member
		WHERE m_grade = 'ROLE_ADMIN'
	</select>
	<select id="checkMembershipYn" parameterType="string" resultType="_int">
		SELECT count(*)
		FROM member
		WHERE m_id = #{m_id} AND m_membership_yn = 'Y'
	</select>
	<update id="updateMyInfo" parameterType="Member">
		UPDATE member
		SET 
		m_id = #{m_id}, 
		m_name = #{m_name}, 
		m_nickname = #{m_nickname}, 
		m_phone = #{m_phone}, 
		m_address = #{m_address}, 
		m_address_detail = #{m_address_detail},
		m_gender = #{m_gender}, 
		m_profile = #{m_profile}, 
		m_email = #{m_email}
		WHERE m_id = #{m_id}
	</update>
	<update id="deleteMember" parameterType="Member">
		UPDATE member
		SET
		m_delete_yn = 'Y'
		WHERE m_id = #{m_id}
	</update>
	<update id="updatePassword" parameterType="Member">
		UPDATE member
		SET
		m_password = #{m_password}
		WHERE m_id = #{m_id}
	</update>
	<update id="updateMemberMembershipYn" parameterType="string">
		UPDATE member
		SET
		m_membership_yn = 'Y'
		WHERE m_id = #{m_id}
	</update>
</mapper>
