<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Pymusic">

	<resultMap type="PlayInfo" id="soundResultMap">
		<result column="s_no" property="s_no" />
		<result column="a_no" property="a_no" />
		<result column="s_name" property="s_name" />
		<result column="s_age_yn" property="s_age_yn" />
		<result column="s_path" property="s_path" />
		<result column="g_no" property="g_no" />
		<result column="cnt_like" property="cnt_like" />
		<result column="a_cover" property="a_cover" />
		<result column="a_name" property="a_name" />
		<result column="g_name" property="g_name" />
		<result column="chart" property="chart" />
		<result column="area_code" property="area_code"/>
		<result column="area_name" property="area_name"/>
		<result column="p_date" property="p_date"/>
		<result column="SKY" property="sky"/>
		<result column="PTY" property="pty"/>
		<result column="TMP" property="tmp"/>
		<collection column="{a_no=a_no, s_no=s_no}"
			property="singers" select="soundSingerList"></collection>
	</resultMap>


	<select id="selectPyArea" parameterType="_int" resultMap="soundResultMap" >
	select chart, s_no, a_no, s_name, a_name, a_cover, s_path 
        , (select area_name from area where area_code = tb_rank.area_code) area_name
    from 
        (select 
            row_number() over (order by count(*) desc) chart, s_no, a_no, area_code
         from playinfo 
         where area_code = #{area_code}
         group by s_no, a_no, area_code
        ) tb_rank
        join view_sound_alb_gnr using (s_no, a_no) 
     where chart &lt;= 10
	 order by chart
	</select>
	
	<select id="selectPyGenre" parameterType="_int" resultMap="soundResultMap" >
	select rownum, s_no, a_no, s_name, a_name, a_cover, s_path, g_name 
    from 
        (select 
            row_number() over (order by count(*) desc) chart, s_no, a_no
         from playinfo 
         group by s_no, a_no
        ) tb_rank
        join view_sound_alb_gnr using (s_no, a_no) 
     where g_no= #{g_no} and rownum &lt;= 10
	</select>
	
	
	<select id="selectPyAgender" parameterType="string" resultMap="soundResultMap" >
	select chart, s_no, a_no, s_name, a_name, a_cover, s_path
    from 
        (
        select 
            row_number() over (order by count(*) desc) chart, s_no, a_no
         from playinfo 
         join member using (m_id)
		 <choose>
			<when test='agender.equals("101")'>
				where m_gender= 'M' and m_birth &lt;= (SELECT  to_char(SYSDATE,'YYYYMMDD') FROM dual) 
					and m_birth &gt; (SELECT  to_char(add_months(SYSDATE, -240),'YYYYMMDD') FROM dual)
			</when>
			<when test='agender.equals("201")'>
				where m_gender= 'M' and m_birth &lt;= (SELECT  to_char(add_months(SYSDATE, -240),'YYYYMMDD') FROM dual) 
					and m_birth &gt; (SELECT  to_char(add_months(SYSDATE, -360),'YYYYMMDD') FROM dual)
			</when>
			<when test='agender.equals("301")'>
				where m_gender= 'M' and m_birth &lt;= (SELECT  to_char(add_months(SYSDATE, -360),'YYYYMMDD') FROM dual) 
					and m_birth &gt; (SELECT  to_char(add_months(SYSDATE, -480),'YYYYMMDD') FROM dual)
			</when>
			<when test='agender.equals("401")'>
				where m_gender= 'M' and m_birth &lt;= (SELECT  to_char(add_months(SYSDATE, -480),'YYYYMMDD') FROM dual) 
					and m_birth &gt; (SELECT  to_char(add_months(SYSDATE, -600),'YYYYMMDD') FROM dual)
			</when>
			<when test='agender.equals("501")'>
				where m_gender= 'M' and m_birth &lt;= (SELECT  to_char(add_months(SYSDATE, -600),'YYYYMMDD') FROM dual)
			</when>
			<when test='agender.equals("102")'>
				where m_gender= 'F' and m_birth &lt;= (SELECT  to_char(SYSDATE,'YYYYMMDD') FROM dual) 
					and m_birth &gt; (SELECT  to_char(add_months(SYSDATE, -240),'YYYYMMDD') FROM dual)
			</when>
			<when test='agender.equals("202")'>
				where m_gender= 'F' and m_birth &lt;= (SELECT  to_char(add_months(SYSDATE, -240),'YYYYMMDD') FROM dual) 
					and m_birth &gt; (SELECT  to_char(add_months(SYSDATE, -360),'YYYYMMDD') FROM dual)
			</when>
			<when test='agender.equals("302")'>
				where m_gender= 'F' and m_birth &lt;= (SELECT  to_char(add_months(SYSDATE, -360),'YYYYMMDD') FROM dual) 
					and m_birth &gt; (SELECT  to_char(add_months(SYSDATE, -480),'YYYYMMDD') FROM dual)
			</when>
			<when test='agender.equals("402")'>
				where m_gender= 'F' and m_birth &lt;= (SELECT  to_char(add_months(SYSDATE, -480),'YYYYMMDD') FROM dual) 
					and m_birth &gt; (SELECT  to_char(add_months(SYSDATE, -600),'YYYYMMDD') FROM dual)
			</when>
			<when test='agender.equals("502")'>
				where m_gender= 'F' and m_birth &lt;= (SELECT  to_char(add_months(SYSDATE, -600),'YYYYMMDD') FROM dual)
			</when>	
		</choose>			
         group by s_no, a_no
        )
        join view_sound_alb_gnr using (s_no, a_no) 
     where chart &lt;= 10
     order by chart
	</select>
	

	<select id="soundSingerList" parameterType="map"
		resultType="Singer">
		select artist.artist_name, artist.artist_no
		from sound sound
		join singer singer on sound.s_no=singer.s_no and
		sound.a_no=singer.a_no
		join artist artist on singer.artist_no =
		artist.artist_no
		where sound.a_no=#{a_no} and sound.s_no=#{s_no}
	</select>
	
	
	<select id="selectPyWeather" parameterType="hashmap" resultMap="soundResultMap" >
		select 
		    chart, s_no, a_no,
		    A_NAME, A_COVER,
		    S_NAME, S_PATH 
		from 
		    (
		        select  row_number() over (order by count(*) desc) chart, s_no, a_no
		        from 
		            playinfo
		        <where>
					<choose>
						<when test='sky!=null and !sky.equals("")'>
				        sky=#{sky}
				        </when>
				        <when test='pty!=null and !pty.equals("")'>
				        pty=#{pty}
				        </when>
					</choose>
				</where> 
		        group by s_no,a_no
		    ) 
		    join view_sound_alb_gnr using(s_no,a_no)
		    where chart &lt;= 10
	</select>
	
	<select id="selectPyTime" parameterType="String" resultMap="soundResultMap" >
		select 
	    chart, s_no, a_no,  
	    A_NAME, A_COVER,
	    S_NAME, S_PATH 
	from 
	    (
	        select  row_number() over (order by count(*) desc, s_no, a_no) chart, s_no, a_no
	        from 
	            playinfo 
	          <where>
		           <choose>
		           <when test='p_date !=null and !p_date.equals("1")'>
		             	where p_date = TO_NUMBER(TO_CHAR(p_date, 'HH24'))&gt;=0 and TO_NUMBER(TO_CHAR(p_date, 'HH24')) &lt;6
		   		   </when>
		   		    <when test='p_date !=null and !p_date.equals("2")'>
		             	where p_date = TO_NUMBER(TO_CHAR(p_date, 'HH24'))&gt;=6 and  TO_NUMBER(TO_CHAR(p_date, 'HH24')) &lt;12
		   		   </when>
		   		    <when test='p_date !=null and !p_date.equals("3")'>
		             	where p_date = TO_NUMBER(TO_CHAR(p_date, 'HH24'))&gt;=12 and  TO_NUMBER(TO_CHAR(p_date, 'HH24')) &lt;18
		   		   </when>
		   		    <when test='p_date !=null and !p_date.equals("4")'>
		             	where p_date = TO_NUMBER(TO_CHAR(p_date, 'HH24'))&gt;=18 and  TO_NUMBER(TO_CHAR(p_date, 'HH24')) &lt;24
		   		   </when>
			       </choose>
		      </where>
	        group by s_no,a_no
	    ) 
	    join view_sound_alb_gnr using(s_no,a_no)
    	where chart &lt;= 10	
	</select>

</mapper>