<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="QnaBoard">
 
 <!-- 전체 글 갯수 -->
 <select id="totalQnaBoard" resultType="int">
 select count(*) from qna
 where
 <choose>
	<when test='m_id.equals("admin")'>
		1=1
	</when>
	<otherwise>
		m_id=#{m_id}
	</otherwise>
</choose>
 </select>

<!-- 글목록 -->
<select id="pageSelectQna" parameterType="hashmap" resultType="QnaBoard">
select t2.* from 
	(select rownum rnum, t1.* 
		from (select qna_no, qna_title, qna_content
			, m_id, qna_date, origin_no
			, gr_ord, gr_layer
			from QNA 
			where
			<choose>
				<when test='m_id.equals("admin")'>
					1=1
				</when>
				<otherwise>
					m_id=#{m_id}
				</otherwise>
			</choose>
			ORDER BY origin_No DESC, gr_Ord ASC)t1 
			<![CDATA[
			where rownum <= #{cri.pageNum} * #{cri.amount})t2
      where rnum > (#{cri.pageNum} -1) * #{cri.amount}
      ]]>

</select>

<!-- 글쓰기 -->
<insert id="insertQna" parameterType="QnaBoard">
<!-- 	
	insert into qna (qna_no
			,qna_title, m_id, qna_content
			,qna_secret	,qna_date
			,origin_no
			,gr_ord
			,gr_layer
		) values ( (select nvl(max(qna_no),0)+1 from qna)
			, #{qna_title}, #{ m_id}, #{qna_content}
			, default ,default
<choose>
<when test="gr_ord > 0">
			, (select origin_no from qna where qna_no=#{gr_ord })
			, (select gr_ord+1 from qna where qna_no=#{gr_ord })
			, (select gr_layer+1 from qna where qna_no=#{gr_ord })

</when>
<otherwise>
			,(select nvl(max(qna_no),0)+1 from qna)
			,default
			,default
</otherwise>
</choose>
) 
-->

	insert into qna (qna_no
			,qna_title, m_id, qna_content
			,qna_secret	,qna_date
			,origin_no
			,gr_ord
			,gr_layer
		) values ( 
			(select nvl(max(qna_no),0)+1 from qna)
			, #{qna_title}, #{ m_id}, #{qna_content}
			, default ,default
<choose>
<when test="origin_no > 0">
			, (select origin_no from qna where qna_no=#{origin_no})
			, (select gr_ord+1 from qna where origin_no=#{origin_no} and gr_ord = #{gr_ord})
			, (select gr_layer+1 from qna where origin_no=#{origin_no} and gr_ord = #{gr_ord})

</when>
<otherwise>
			,(select nvl(max(qna_no),0)+1 from qna)
			,default
			,default
</otherwise>
</choose>
) 
</insert> 

<!-- 글 상세조회 -->
 <select id="selectQnaBoard" resultType="QnaBoard" parameterType="string">
	select * from qna
	where qna_no=#{qna_no}
</select>

<update id="updateQnaReplySeq" parameterType="QnaBoard">
<![CDATA[
	update qna set board_reply_seq = gr_layer+1
	where gr_ord = (select gr_ord from qna where qna_no=#{gr_ord})
	and gr_layer > (select gr_layer from qna where qna_no=#{gr_ord})
]]>
</update>

<!-- QNA ORDER 수정 -->
<update id="updateQnaOrd">
<![CDATA[
	update qna set 
	gr_ord = gr_ord + 1 
	where origin_no = #{origin_no} 
		and gr_ord > #{gr_ord}
]]>
</update>


<update id="updateQna" parameterType="QnaBoard">
	update qna set qna_content = #{qna_content} , qna_title = #{qna_title}
	where qna_no=#{qna_no}
</update>

<delete id="deleteQna" parameterType="string">
	delete from qna where qna_no=#{qna_no}
</delete>



</mapper>