<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Sound">

<resultMap type="Album" id="AlbumResultMap">
	<result column="a_no" property="a_no"/>
	<collection column="a_no" property="sound" select="selectAlbumSound"></collection>
</resultMap>


<!-- 앨범상세조회-앨범정보 -->
<select id="selectAlbum" resultMap="AlbumResultMap">
	select album.*, art.artist_name
	from album album join artist art on album.artist_no = art.artist_no 
	where album.a_no=#{a_no}
</select>

<!-- 앨범상세조회-수록곡 -->
<select id="selectAlbumSound" resultType="Sound">
	select sound.*, artist.artist_name 
	from sound sound join album album on sound.a_no=album.a_no 
	join singer singer on sound.s_no=singer.s_no and sound.a_no=singer.a_no 
	join artist artist on singer.artist_no = artist.artist_no where album.a_no=#{a_no}
</select>

<!-- 한곡 재생 -->
<select id="selectSound" parameterType="Sound">
	select s_path from sound where s_no=#{s_no} and a_no=#{a_no}
</select>

<!-- 선택 재생 -->
<select id="selectSoundList" parameterType="java.util.List" resultType="Sound">
	select s_name from sound where a_no in
			<foreach collection="list" item="list" open="(" separator="," close=")">
				#{list.a_no}
			</foreach>
		and s_no in
			<foreach collection="list" item="list" open="(" separator="," close=")">
				#{list.s_no}
			</foreach>
</select>
</mapper>
