<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<settings>
	<setting name="jdbcTypeForNull" value="NULL"/>
</settings>
<typeAliases>
	<typeAlias type="kh.spring.pisic.member.domain.Member" alias="Member"/>
	<typeAlias type="kh.spring.pisic.sound.domain.Artist" alias="Artist"/>
	<typeAlias type="kh.spring.pisic.sound.domain.Album" alias="Album"/>
	<typeAlias type="kh.spring.pisic.sound.domain.Sound" alias="Sound"/>
	<typeAlias type="kh.spring.pisic.sound.domain.AssociationAS" alias="AssociationAS"/>
</typeAliases>
<mappers>
	<mapper resource="mappers/member-mapper.xml"/>
	<mapper resource="mappers/crawling-mapper.xml"/>
	<mapper resource="mappers/sound-mapper.xml"/>
</mappers>
</configuration>
