<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<settings>
	<setting name="jdbcTypeForNull" value="NULL"/>
</settings>
<typeAliases>
	<typeAlias type="kh.spring.pisic.member.domain.Member" alias="Member"/>
	<typeAlias type="kh.spring.pisic.sound.domain.Artist" alias="Artist"/>
	<typeAlias type="kh.spring.pisic.sound.domain.Album" alias="Album"/>
	<typeAlias type="kh.spring.pisic.sound.domain.Sound" alias="Sound"/>
	<typeAlias type="kh.spring.pisic.sound.domain.Singer" alias="Singer"/>
	<typeAlias type="kh.spring.pisic.sound.domain.Writer" alias="Writer"/>
	<typeAlias type="kh.spring.pisic.sound.domain.Composer" alias="Composer"/>
	<typeAlias type="kh.spring.pisic.sound.domain.AssociationAS" alias="AssociationAS"/>
	<typeAlias type="kh.spring.pisic.mymusic.domain.MyMusic" alias="MyMusic"/>
	<typeAlias type="kh.spring.pisic.sound.domain.PlayInfo" alias="PlayInfo"/>
 	<typeAlias type="kh.spring.pisic.faq.domain.FaqBoard" alias="faqBoard"/>
 	<typeAlias type="kh.spring.pisic.pjboard.domain.PjBoard" alias="PjBoard"/>
 	<typeAlias type="kh.spring.pisic.pjboard.domain.PjBoardRecomment" alias="PjBoardRecomment"/>
 	<typeAlias type="kh.spring.pisic.pjboard.domain.PjBoardReport" alias="PjBoardReport"/>
 	<typeAlias type="kh.spring.pisic.qna.domain.QnaBoard" alias="QnaBoard"/>
 	<typeAlias type="kh.spring.pisic.sound.domain.SoundRecomment" alias="SoundRecomment"/>
 	<typeAlias type="kh.spring.pisic.membership.domain.Membership" alias="Membership"/>
 	<typeAlias type="kh.spring.pisic.membership.domain.MembershipInfo" alias="MembershipInfo"/>
 	<typeAlias type="kh.spring.pisic.springsecurity.domain.CustomUserDetails" alias="CustomUserDetails"/>
</typeAliases>
<mappers>
	<mapper resource="mappers/member-mapper.xml"/>
	<mapper resource="mappers/crawling-mapper.xml"/>
	<mapper resource="mappers/sound-mapper.xml"/>
	<mapper resource="mappers/artist-mapper.xml"/>
	<mapper resource="mappers/mymusic-mapper.xml"/>
	<mapper resource="mappers/chart-mapper.xml"/>
	<mapper resource="mappers/pymusic-mapper.xml"/>
	<mapper resource="mappers/faqBoard-mapper.xml"/>
	<mapper resource="mappers/qnaBoard-mapper.xml"/>
	<mapper resource="mappers/admin-mapper.xml"/>
	<mapper resource="mappers/membership-mapper.xml"/>
	<mapper resource="mappers/security-mapper.xml"/>
	<mapper resource="mappers/search-mapper.xml"/>
	<mapper resource="mappers/pjBoard-mapper.xml"/>
	<mapper resource="mappers/membershipInfo-mapper.xml"/>
</mappers>
</configuration>
